.main {
	grid-area: main;
	padding-top: 1rem;
	display: flex;
	flex-flow: row nowrap;
	color: #ffe81f;
}

.navbar {
	width: 25%;
	text-align: left;
	border-right: #ffe81f 3px solid;
	font-size: 2.5vw;
	padding-left: 0.5rem;
	padding-top: 1rem;
}

.navTitles {
	display: block;
	font-size: 3.5vw;
	font-weight: 800;
	text-align: center;
}

p:hover {
	font-weight: 600;
	text-decoration: underline;
	cursor: pointer;
}

.content {
	width: 75%;
}
