.main {
	grid-area: main;
	padding-top: 1rem;
	display: flex;
	flex-flow: row nowrap;
	color: #ffe81f;
}

.navbar {
	width: 25%;
	text-align: left;
	border-right: #ffe81f 3px solid;
	font-size: 2.5vw;
	padding-left: 0.5rem;
	padding-top: 1rem;
}

.navTitles {
	display: block;
	font-size: 3vw;
	font-weight: 800;
	text-align: center;
}

p:hover {
	font-weight: 600;
	text-decoration: underline;
	cursor: pointer;
}

.content {
	width: 75%;
	display: flex;
	flex-flow: row nowrap;
}

.filmInfo {
	width: 40%;
	display: flex;
	flex-flow: column nowrap;
}

.filmDetails {
	font-size: 2.5vw;
	padding: 1rem 0;
}

.abstract {
	width: 60%;
	border: 1px #ffe81f solid;
	padding: 0.3rem;
	font-size: 4vw;
}
