.main {
	grid-area: main;
	padding-top: 1rem;
	display: flex;
	flex-flow: row nowrap;
	color: #ffe81f;
}

.navbar {
	width: 25%;
	text-align: left;
	border-right: #ffe81f 3px solid;
	font-size: 2.5vw;
	padding-left: 0.5rem;
	padding-top: 1rem;
}

.navTitles {
	display: block;
	font-size: 3vw;
	font-weight: 800;
	text-align: center;
}

p:hover {
	font-weight: 600;
	text-decoration: underline;
	cursor: pointer;
}

.content {
	width: 75%;
	display: flex;
	flex-flow: row nowrap;
}

.filmInfo {
	width: 40%;
	display: flex;
	flex-flow: column nowrap;
}

.filmDetails {
	font-size: 2.5vw;
	padding: 0.5vh 0;
}

.abstract {
	width: 60%;
	padding: 0.5rem;
	font-size: 4vw;
	font-weight: 600;
	text-align: justify;
	overflow: auto;
}

/* @keyframes scroll {
	0% {
		top: 0;
		transform: rotateX(20deg) translateZ(0);
	}
	100% {
		top: -6000px;
		transform: rotateX(25deg) translateZ(-2500px);
	}
} */

/* .scrollingText:hover {
	position: relative;
	top: 9999px;
	transform-origin: 50% 100%;
	animation: scroll 60s linear;
} */
